{
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.ts,*.tsx,*.json,*.html,*.css",
      "options": {
        "parser": "typescript"
      }
    }
  ],
  "importOrder": ["^@/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true
}
